.header-input {
  float: right;
  position: relative;
  width: 15rem;
  height: 100%;

  .input-bg {
    display: flex;
    align-items: center;
    width: 12rem;
    height: calc($g-header-height / 2);
    margin: calc($g-header-height / 4) auto 0;
    padding-left: 12px;
    background: #fff;
    border-radius: calc($g-header-height / 4);

    span {
      width: 10%;
      height: 100%;
      margin-right: 5px;
      background-image: url("@/assets/search.svg");
      background-size: 100% 100%;
    }
    input {
      width: 80%;
      height: 70%;
      font-size: 18px;
    }
  }
}
