.basic-layout {
  position: relative;
  background: black;
  .global-header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $g-header-height;
    z-index: 999;
    background: blue;
  }

  .content-wrap {
    margin-top: $g-header-height;
    min-height: calc(100vh - $g-header-height);
    background: orange;

    .content-inner {
      margin: 0 auto;
      width: $g-content-wrap;
    }
  }

  .footer-wrap {
    height: 50px;
    width: 100%;
    z-index: 999;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
